<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="poobygg.css"></link>
        <title> User Search Box </title>
    </head>
    <body>
        <div id="header">
            <form class="search_input" method="post" action="/champs/">
                {% csrf_token %}
                {{ form }}
                <!-- <input class="summoner_name" type="text" name="userName" size="21" maxlength="20" placeholder="Enter Summoner Name">  -->
                <input class="search_button" type="submit" value="Search">
            </form>
        </div>
    </body>
