<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="poobygg.css"></link>
        <title> User Search Box </title>
    </head>
    <body>
        <div id="header">
            <form class="SearchInput" method="get" action="/champs/home/summoner/">
                <input type="text" class="SummonerName" name="userName" size="21" maxlength="20" placeholder="Enter Summoner Name"> 
                <input type="submit" class="SearchButton" value="Search">
            </form>
        </div>
    </body>
