<html>
    <head>
        {% load static from staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'champs/user_profile.css' %}"/>
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    </head>
    
    <body>
        <div id="player_header">
            <div id="player_name">{{ player.summoner_name }}</div>
        </div>
    
        {% if statset_list %}
            {% for statset in statset_list %}
                <a href="{% url 'champs:match_profile' player.std_summoner_name statset.match.match_id %}">
                    <div class="match">
                        <div class="champ_pic">
                            <img src="{{ statset.champ.champion.img }}"></img>
                        </div>
                        <div class="kda">
                            {{ statset.kills }} / {{ statset.assists }} / {{ statset.deaths }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>No matches are available.</p>
        {% endif %}
    </body>
</html>