body {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
    background: #232323;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #666;
}

input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #666;
}

input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #666;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #666;
}

#navbar {
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    background: #101010;
    color: white;
    font-size: 20px;
}

    #nav {
        width: 800px; 
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }

        .nav_el{
            float: left;
        }

            .nav_el a {
                color: white;
                text-decoration: none;
                text-align: center;
                display: block;
                height: 50px;
                line-height: 50px;
                width: 200px;
            }
            
            .nav_el a:hover {
                background: #1d1d1d;
            }



#logo {
    width: 400px;
    height: 200px;
    margin: 100px auto;
}

    #logo img {
        width: 400px;
        height: 200px;
    }

#search {
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 200px;
}

    .search_input {
        height: 50px;
        width: 266px;
        margin: auto;
    }

        .search_bar {
            float: left;
            font-family: 'Oswald', sans-serif;
            font-size: 15px;
            height: 44px;
            width: 176px;
            padding-left: 20px;
        }
    
        .search_button {
            float: left;
            font-family: 'Oswald', sans-serif;
            font-size: 15px;
            height: 50px;
            width: 60px;
        }